
@{
    ViewBag.Title = "後臺首頁";
}

@model IEnumerable<FProjectCampingBackend.Models.EFModels.Member>


<div class="mainarea">

    <div class="listarea area1">
        <h2><i class="bi bi-people-fill"></i>最新會員</h2>

        @{
            Html.RenderPartial("_mod_lastestMember");
        }
    </div>
    <div class="listarea area2">
        <h2>最新訂單</h2>

        @{
            Html.RenderPartial("_mod_lastestMember");
        }
    </div>


</div>

@section css{
    <style>
        .mainarea {
            display: flex;
            flex-wrap: wrap;
            background: #FFF;
            align-items: center;
            justify-content: center;
        }

        .listarea {
            width: 48%;
            padding: 1%;
            margin: 0 1%;
            border-radius: 20px;
            border: 1px solid;
        }

        .area1 {
        }

        .area2 {
        }

        .memberPhoto {
            max-width: 50px;
            border-radius: 50%;
        }
    </style>


}
